@font-face {
  font-family: Cocogoose;
  font-weight: bold;
  src: url("./fonts/Cocogoose_trial.otf") format("opentype");
}

.containerr {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f7f7f7;
  opacity: 0.96;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0) 0 32px 16px;
  height: 4.5rem;
  width: 100%;
  position: fixed !important;
  z-index: 100;
  top: 0;
  bottom: 0;
  text-align: left;
  padding: 0;
  border: none;
}

.clickme {
  display: flex;
  flex-direction: column;
}

.clickme .desktop-nav {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: #272a31;
  list-style: none;
  position: relative;
  top: -1rem;
  left: -1rem;
  bottom: 0;
  right: 0;
  width: 26rem;
  height: 49rem;
  text-align: center;
  padding-right: 8.5rem;
  padding-top: 10rem;
  transition: 0.5s;
}

.clickme li a {
  text-decoration: none;
}

.clickme .desktop-nav a {
  color: #d3d3d3;
  font-family: 'Cocogoose', sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding: 1rem 0.5rem;
  text-align: center;
}

.clickme .desktop-nav .about-bar {
  color: #ec5242;
}

.clickme .desktop-nav .register-bar {
  color: #ec5242;
  position: relative;
  top: 6.5rem;
  font-weight: 400;
  padding: 0.5rem;
  border: 5px solid #ec5242;
  margin-top: 1rem;
}

.close {
  display: none;
}

button.close-active {
  color: #ec5242;
  opacity: 0.9;
  text-shadow: none;
  z-index: 2;
  border: none;
  display: block;
  font-weight: 500;
  font-size: 4rem;
  position: relative;
  top: -49rem;
  left: -2rem;
}

.social-media-contact {
  display: none;
}

.hamburger {
  background-color: #f7f7f7;
  color: #272a31;
  border: none;
  position: absolute;
}

.hide-mobile {
  display: none;
}

.nav-desktop-container {
  display: none;
}

.welcome {
  background: url("img/background5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome h1 {
  background-color: rgb(255, 255, 255, 0.7);
  padding-top: 1rem;
  font-family: 'Cocogoose', sans-serif;
  width: 100%;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 800;
  font-size: 2rem;
  position: relative;
  top: 30px;
}

footer div p {
  text-align: center;
  font-weight: 500;
  margin: 55px;
}

.welcome div {
  padding-top: 6rem;
}

.welcome p {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1rem 1rem;
  width: 80%;
  color: white;
  border: solid 2px white;
  margin: 4rem 2rem;
}

.welcome .conf-time {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.welcome .location {
  text-align: start;
}

.main-program {
  background: url("img/programbackground.png") repeat;
  min-height: 50vh;
  margin-top: -2rem;
}

.main-program > div > h2 {
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  font-family: 'Cocogoose', sans-serif;
}

.speaker-info > div {
  width: 25px;
  height: 3px;
  background-color: #d3d3d3;
}

.main-program > div > div {
  width: 30%;
  height: 3px;
  background-color: #ec5242;
  margin: 24px 115px;
}

.programs {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1rem;
}

.program {
  background-color: rgba(255, 255, 255, 0.1);
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 3fr 5fr;
  border: 2px solid transparent;
  align-content: center;
  text-align: center;
}

.program > h3 {
  color: #ec5242;
  font-size: 1rem;
  align-self: center;
}

.program .fa {
  margin-top: 41px;
  margin-left: 2px;
}

.program > p {
  color: white;
  padding-top: 1rem;
  font-weight: 500;
}

.register {
  background-color: #ec5242;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.2rem;
  margin: 0.2rem;
  margin-bottom: 30px;
}

.see-program {
  display: none;
}

.speakers {
  background-color: #f7f7f7;
}

.speakers > div > h2 {
  color: #272a31;
  text-align: center;
  padding-top: 3.5rem;
  font-family: 'Cocogoose', sans-serif;
}

.speakers > div > div {
  width: 30%;
  height: 3px;
  background-color: #ec5242;
  margin-bottom: 5rem;
  margin-left: 7rem;
}

.speakers-container {
  display: grid;
  gap: 3rem;
}

.speaker-info {
  margin-left: 10rem;
  text-align: left;
  margin-top: -10rem;
}

.speaker-info > h3 {
  color: #272a31;
  font-size: 1.5rem;
  font-weight: bold;
}

.speaker-info .job {
  color: #ec5242;
  padding-right: 14px;
}

.speaker-info .bio {
  margin-top: 1rem;
  font-size: 15px;
  padding-right: 22px;
}

.speakers-img {
  margin: 1rem;
}

.speakers .speakers-img .chessboard {
  width: 4rem;
  z-index: 3;
  margin-top: -91px;
  margin-right: -55px;
}

.speakers .speakers-img .speaker-img {
  z-index: 1;
  width: 7rem;
  height: 113px;
  border-radius: 4%;
}

.funding {
  background-color: #414246;
}

.funding > div > h2 {
  text-align: center;
  font-size: x-large;
  color: #858383;
  padding-top: 60px;
  padding-bottom: 35px;
  font-family: 'Cocogoose', sans-serif;
}

.funding > div > div {
  background-color: #ec5242;
  width: 33%;
  height: 3px;
  margin: auto;
}

.list-partners ul {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.list-partners img {
  max-width: 200px;
  max-height: 100px;
  border-radius: 5px;
  margin-left: -29px;
  margin-bottom: 40px;
}

footer {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7f7f7;
  margin-top: -16px;
  margin-bottom: -1px;
}

#logo {
  align-items: center;
  max-width: 200px;
  max-height: 100px;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 37px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  nav {
    height: 6rem;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0) 0 32px 16px;
  }

  .social-media-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 47px;
    padding-right: 300px;
    list-style: none;
    background-color: #272a31;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .social-media-contact li a {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
  }

  .social-media-contact li :hover {
    color: #d3d3d3;
    transition: 300ms all ease-in;
  }

  .nav-desktop-container {
    display: flex;
    flex-direction: row;
  }

  .hide-mobile {
    display: block;
  }

  #navbar-logo {
    width: 126px;
    margin-left: 130px;
    padding: 1rem;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 25px;
    gap: 80px;
    width: 100%;
    position: fixed;
    right: -37rem;
    top: 1.5rem;
  }

  .desktop-nav li a {
    color: #272a31;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
  }

  .desktop-nav li :hover {
    color: #ec5242;
    transition: 300ms;
  }

  ul li .about-bar {
    color: #ec5242;
  }

  ul li .register-bar {
    color: #ec5242;
    font-weight: 600;
    padding: 0.5rem;
    border: 5px solid #ec5242;
  }

  .welcome {
    background: url("img/background5.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -4rem;
  }

  .welcome h1 {
    background-color: rgb(255, 255, 255, 0.2);
    width: 50%;
    font-size: 3rem;
    padding: 10px;
    position: relative;
    top: 136px;
    left: 100px;
  }

  .welcome .conf-time {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 60px;
    position: relative;
    bottom: 7rem;
  }

  .main-program {
    min-height: 80vh;
  }

  .main-program > div > h2 {
    padding-top: 3rem;
    margin-bottom: 20px;
  }

  .main-program > div > div {
    width: 5%;
    height: 3px;
    background-color: rgb(236, 82, 66);
    margin: auto;
  }

  .programs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    top: 64rem;
    left: 10rem;
    right: 10rem;
    gap: 0.5rem;
  }

  .program {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid #272a31;
    align-content: center;
    text-align: center;
    gap: 10px;
    padding: 0.5rem;
  }

  .register {
    display: none;
  }

  .see-program {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 30rem;
    left: 42rem;
    color: white;
    text-decoration: underline;
    font-weight: 600;
    font-size: large;
    padding-bottom: 34rem;
  }

  .see-program:hover {
    transition: 300ms all ease-in;
    color: #ec5242;
    text-decoration: none;
  }

  .program > h3 {
    color: #ec5242;
    font-size: 2rem;
    align-self: center;
  }

  .program .fa {
    margin-top: 12px;
    padding-bottom: 2rem;
    color: #d3d3d3;
  }

  .speakers {
    height: 60rem;
  }

  .speakers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .speakers .speakers-img .speaker-img:hover {
    transition: 0.5s;
    transform: translate(-15px, -22px);
  }

  .speakers > div > div {
    width: 5%;
    height: 3px;
    background-color: #ec5242;
    margin: auto;
  }

  .funding > div > h2 {
    font-weight: 400;
    padding-top: 23px;
    padding-bottom: 6px;
  }

  .funding > div > div {
    background-color: #ec5242;
    width: 5%;
    height: 3px;
    margin: auto;
  }

  .list-partners ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin-left: 233px;
    margin-right: 222px;
  }

  #logo {
    max-height: 143px;
    margin-top: 27px;
    margin-left: 168px;
  }

  footer > div > p {
    text-align: center;
    font-weight: 500;
    margin-right: 350px;
    margin-top: 87px;
  }

  .program > p {
    font-weight: bold;
    padding: 1rem;
  }

  .welcome div p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem 1rem;
    width: 50%;
    margin: 12rem 6rem;
  }
}
